@import url(https://fonts.googleapis.com/css?family=Lato:700);
.ribbon {
	width: 150px;
	height: 150px;
	overflow: hidden;
	position: absolute;

	& ::before,
	::after {
		position: absolute;
		z-index: -1;
		content: "";
		display: block;
		border: 5px solid rgb(238, 109, 86);
	}

	span {
		position: absolute;
		display: block;
		width: 225px;
		padding: 15px 0;
		background-color: tomato;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
		color: #fff;
		font: 700 14px/1 "Lato", sans-serif;
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
		text-transform: uppercase;
		text-align: center;
	}
}

/* /_ top left_/ */
.ribbon-top-left {
	top: -10px;
	left: -10px;

	& ::before,
	::after {
		border-top-color: transparent;
		border-left-color: transparent;
	}

	& ::before {
		top: 0;
		right: 0;
	}

	& ::after {
		bottom: 0;
		left: 0;
	}

	span {
		right: -25px;
		top: 30px;
		transform: rotate(-45deg);
	}
}

/* Dashboard */
.dashboard,
.Add__container {
	padding: 50px 0 0;
	min-height: calc(100vh - 56px);
}

.add-new-orchid {
	button {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
		font-weight: bold;
		border: none;
		outline: none;
		border-radius: 5px;
		background: #1376f8;
		font-size: 20px;
		width: 100%;
		margin-bottom: 20px;

		& :hover {
			background: #2e2100;
		}
	}
}

.dashboard__table {
	vertical-align: middle;
	font-size: 20px;

	img {
		width: 100%;
		height: 100px;
		object-fit: cover;
		background-position: center center;
	}

	.image {
		width: 260px;
	}

	svg {
		color: #fff;
	}

	button {
		font-size: 16px;
	}

	.btn-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 5px;

		button {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 10px;
		}

		thead {
			th,
			td {
				& :first-child,
				:nth-of-type(4),
				:nth-of-type(5),
				:nth-of-type(6),
				:last-child {
					text-align: center;
				}
			}
		}

		td,
		th {
			vertical-align: middle;
		}
	}
}

/* ========= PAGINATION ========= */
.pagination {
	margin-top: 20px;
	justify-content: center;
}

.page-link {
	display: inline-flex;
	width: 40px;
	height: 40px;
	padding: 0;
	color: #1376f8;
	font-weight: bold;
	font-size: 1.8rem;
	border: none;
	outline: none;
	text-align: center;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transition: all 0.25s ease-in-out;

	& :hover {
		color: #2e2100;
	}
}

.page-item.active {
	.page-link {
		background: #1376f8;

		& :hover {
			color: #fff;
		}
	}
}

.dashboard {
	.page-item {
		& :first-child,
		:last-child {
			.page-link {
				border-radius: 50%;
			}
		}

		& :not(:first-child) {
			margin-left: 8px;
		}
	}
}
